

  <div id="img-container">
  <img src="{{this.image_url}}" alt="beer">
  </div>
  {{!-- <p>Name: {{this.name}}</p> --}}

  <a href="/beers/{{this.id}}">{{this.name}}</a>


  <p>{{this.tagline}}</p>
  <p>{{this.description}}</p>

